
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ALIPTIC - Exercice TWIG</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/icon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
    <link href="assets/style.css" rel="stylesheet">
    <style>.bg-img1{border-left:50px solid #1FC4F4;}</style>
</head>
<body>
{% include 'main.html.twig' %}
</body>
</html>

